[Desktop Entry]
Icon=text-html
Name=Terminal Colour Schema Cheet Code
Type=Link
URL[$e]=https://www.tweaking4all.com/software/macosx-software/xterm-color-cheat-sheet/#navigation
